---
import { getCollection } from "astro:content"
import CardWorker from './CardWorker.astro'



const equipo = await getCollection('equipo');
---


    

    <div class="grid gap-6 lg:grid-cols-2 p-8 w-full mb-8 shadow-2xl rounded-3xl">
    
    
        {
            equipo.map((worker) => <CardWorker equipo={worker}/>)
        }
    
    </div>


