---
// Import necessary components
import { Image } from "astro:assets";
import type{ CollectionEntry } from "astro:content";

const { equipo } = Astro.props;

interface Props {
  equipo: CollectionEntry<'equipo'>
}
---

<div class="flex-shrink-0">
  <Image
    class="size-[46px] rounded-full border-2 border-neutral-50"
    src={equipo.data.avatar}
    alt={equipo.data.name}
    format={"avif"}
  />
</div>
