---
import ItemCard from "./ItemCard.astro"
---

<section class="grid grid-cols-1 sm:grid-cols-3 md:gap-12 w-full p-10">
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
</section>