---
import ItemCard from "./ItemCard.astro"
---

<section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 md: w-full gap-7 mb-[100px] items-center">
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
    <ItemCard/>
</section>