---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import TimeLine from "@components/sections/landing/TimeLine.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import featureImage from "@images/features-image.avif";
import estucheCumpleaños from "@images/estuche-cumpleaños.jpg";
import estucheAmistad from "@images/estuche-amistad.jpg";
import estucheAmor from "@images/estuche-amor.jpg";
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explorá nuestros productos"
    url="/products"
  />

  <HeroSection
    title=`El chocolate que <span
        class="text-primary-100">habla por vos</span>`
    subTitle="Diseñados para expresar tus sentimientos de la mejor forma."
    primaryBtn="Ver productos"
    primaryBtnURL="/products"
    src={heroImage}
    alt="Variedad de chocolates personalizados de Latte Chocolate"
  />

  <ClientsSection
    title="Confianza de comercios"
    subTitle="Un producto revelador que"
  />

  <FeaturesGeneral
    title="Dulzura para el momento indicado"
    subTitle="En Latte, respondemos a una necesidad única en el sector de los chocolates y dulces, creando momentos únicos."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Elegí el<mark class="mx-2 px-1 text-white bg-primary-100 rounded">Latte</mark>indicado para tu ocasión especial.`
    tabs={[
      {
        heading: "Latte amor",
        content:
          "Conoce nuestro Pack Amor. Diseñado especialmente para un momento único con esa persona especial, este pack es un gesto que abre a la ternura y al amor con tu ser querido",
        svg: "latteLove",
        src: estucheAmor,
        alt: "image with pack friends of busines 'Latte chocolate",
        first: true,
      },
      {
        heading: "Latte amistad",
        content:
          "Conoce nuestro Pack amistad. Diseñado especialmente para regalar a un amigo, esa persona que estuvo y esta siempre.",
        svg: "latteFriends",
        src: estucheAmistad,
        alt: "image with pack friends of busines 'Latte chocolate",
      },
      {
        heading: "Latte cumpleaños",
        content:
          "Minimize complexity, maximize productivity. ScrewFast's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "latteCumpleaños",
        src: estucheCumpleaños,
        alt: "image with pack friends of busines 'Latte chocolate",
      },
      {
        heading: "Latte celebraciones especiales",
        content:
          "Conoce nuestro Pack celebraciones especiales. Perfecto para celebrar el día especial de tus seres queridos con un toque dulce y especial.",
        svg: "latteFestividades",
        src: estucheAmor,
        alt: "image with pack friends of busines 'Latte chocolate",
      },
    ]}
  />

  <TestimonialsSection
    title="Las mejores reseñas"
    subTitle="Tenemos una opinion excelente de parte de nuestros clientes y revendedores, cualquiera sea tu situación Latte es para vos."
    ;
    testimonials={[
      {
        content:
          "Son hermosos y se les nota el amor con el que están hechos y sobre todo pensados, las ideas son hermosas.",
        author: "Samantha Ruiz",
        role: "Cliente minorista",
      },
    ]}
    statistics={[
      {
        count: "0",
        description: "Criticas",
      },
      {
        count: "100%",
        description: "Autenticos",
      },
      {
        count: "Nuevos",
        description: "Latte es diferente",
      },
      {
        count: "Siempre",
        description: "Originales",
      },
    ]}
  />

  <TimeLine
    title=`Un poco sobre nuestra`
    dates={[
      {
        date: "10 de Julio 2015",
        titleDate: "Creación de Latte",
        description: "Descripcion corta",
        author: "Carla Aguirre | Fundadora",
      },
      {
        titleDate: "Creación de Latte papa",
        description: "Descripcion corta",
      },
      {
        titleDate: "Creación de Latte",
        description: "Descripcion corta",
      },
      {
        titleDate: "Creación de Latte",
        description: "Descripcion corta",
      },
    ]}
    primaryBtn="Conocer más"
    primaryBtnUrl="/nosotros"
    secondaryBtn="Blog"
    secondaryBtnUrl="/blog"
  />

  <FAQ title="Preguntas<br />frecuentes" faqs={faqs} />

  <HeroSectionAlt
    title="Comenzá a vender Latte en tu comercio"
    subTitle="Unite a nuestra red de revendedores y disfruta de múltiples beneficios"
    url="./contact.astro"
  />
</MainLayout>
