---
// Import necessary components, modules and types
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";
import PrimaryCTA from "@/components/ui/buttons/PrimaryCTA.astro";

// Get all blogs post in English and sort them based on publish date


// Define variables for page content
const title: string = "En latte sos importante";
const subTitle: string =
  "Nuestra visión pone sobre la mesa una condición, y es que nuestros clientes sean parte del producto. Definí fechas que creas que sean especiales, crea tus frases y más.";

const pageTitle: string = `Blog | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/blog",
    url: "https://screwfast.uk/blog",
    name: "Se parte | Latte chocolate",
    description:
      "Stay up-to-date with the latest trends and developments in the construction industry with insights from ScrewFast's team of industry experts.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://screwfast.uk",
      name: "Latte chocolate",
      description:
        "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs.",
    },
    inLanguage: "es",
  }}
>
  <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    <!--Page header-->
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        {title}
      </h1>

      <p
        class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
      >
        {subTitle}
      </p>
    </div>
  </section>
<!-- component -->
<section class="h-screen w-screen flex items-center justify-center flex-col gap-20">
  <h1 class="underline font-extrabold text-6xl text-center">
    Pagina en contruccion
  </h1> 
  <PrimaryCTA title="regresar" url="/"/>
</section>
 
</MainLayout>