---
import ComerciosLayout from "@/layouts/ComerciosLayout.astro";
import { firebase } from "@/firebase/config";
 const userValue = firebase.auth.currentUser ;
await userValue?.reload()
const {user, isLoggedIn} = Astro.locals 
if(!user || !isLoggedIn){
  return
}
---



<ComerciosLayout>
  <h1>
    COmercios
  </h1>
  <button>LogOut</button>

</ComerciosLayout>