---
import type { CollectionEntry } from "astro:content";
import Image from "astro/components/Image.astro";




interface Props {
  product: CollectionEntry<'productsLatte'>;
}

const { product } = Astro.props;

---



<div class="relative bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
  <Image
class="w-full h-full"
src={product.data.main.imgCard}
alt={`image of product 1`}
width={400}
format="avif"
/>
  <div class="absolute top-0 start-0 end-0">
    <div class="p-4 md:p-5">
      <h3 class="text-lg font-bold text-gray-800">
        {product.data.frase}
      </h3>
      <p class="mt-1 text-gray-800">
        {product.data.description}
      </p>
    </div>
  </div>
</div>


