---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import AnnouncementBanner from "@/components/ui/banners/AnnouncementBanner.astro";
import HeroSectionAlt from "@/components/sections/landing/HeroSectionAlt.astro";
// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";
import ShopLatte from "@/components/sections/shop/ShopLatte.astro";



const title: string = "Bienvenido";
const subTitle: string =
  "Adquiere tus productos Latte de la mejor forma, facil, sencillo, rápido para que sin que pase mucho tiempo puedas tener tu producto Latte en tus manos.";



const pageTitle: string = `Tienda | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/products",
    "url": "https://screwfast.uk/products",
    "name": "Tienda | Latte chocolate",
    "description": "Explora y descubrí lo que pueden generar nestros productos.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://screwfast.uk",
      "name": "Latte choclate",
      "description": "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs."
    },
    "inLanguage": "es"
  }}
>
<section
class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full mb-[100px]"
>
<!--Page header-->
<div class="mx-auto max-w-3xl text-left sm:text-center">
  <h1
    class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
  >
    {title}
  </h1>

  <p
    class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
  >
    {subTitle}
  </p>
</div>
</section>


<ShopLatte/>

<AnnouncementBanner
btnId="dismiss-button"
btnTitle="¿Tenes un comercio? ¡accede a tu cuenta personal!"
url="#"
/>


<HeroSectionAlt
title="¿tenés un comercio?"
subTitle="Unite a nuestra red de revendedores y disfruta de múltiples beneficios"
url="./contact.astro"
/>
</MainLayout>
